.bookmarkButton {
    background-color: var(--color-dark-blue);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.35;
    position: absolute;
    cursor: pointer;
    transition: 250ms all;
    top: 12px;
    right: 12px;
}

/* For devices that support hover (e.g., desktops) */
@media (hover: hover) and (pointer: fine) {
    .bookmarkButton:hover {
        opacity: 1;
    }
}

/* For devices with no hover support (e.g., touch devices) */
@media (hover: none) and (pointer: coarse) {
    .bookmarkButton:active {
        opacity: 1;
    }
}

/* all screens above 768px */
@media screen and (min-width: 768px) {
    .bookmarkButton {
        top: 20px;
        right: 20px;
    }
}
