
.CardWrapper{
}

.Card{
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.Recommendations-card{
    aspect-ratio: 1.6;
}

.SearchResult-card{
    aspect-ratio: 0.6666;
    max-width: 150px;
}

.Trending-card{
    background-color: var(--color-semi-dark-blue);
    min-width: 240px;
    width: 240px;
    height: 140px;
    border-radius: 0.5rem;
    position: relative;
    background-position: center;
    background-size: cover;
}

.cardButton{
    background-color: var(--color-dark-blue);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.35;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 250ms all;
}

.cardButton:hover{
    opacity: 1;
}

/* all screens above 768px */
@media screen and (min-width: 768px) {
    .Trending-card{
        min-width: 470px;
        width: 470px;
        height: 230px;
    }
    .cardButton{
        top: 20px;
        right: 20px;
    }
}


/* all screens above 1024px */
@media screen and (min-width: 1024px) {
}

/* all screens above 768px */
@media screen and (min-width: 768px) {
    .Card{
        /* width: 220px; */
        /* height: 140px; */
    }
    .SearchResult-card{
    }
}

/* all screens above 1024px */
@media screen and (min-width: 1024px) {
    .Card{
        /* width: 280px; */
        /* height: 174px; */
    }
    .SearchResult-card{
        max-width: 250px;
    }
}