
.popUpWrapper{
    background-color: #161d2f62;
    backdrop-filter: blur(10px) saturate(70%);
    position: fixed;
    top: 56px; /*navbar height*/
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 1rem;
}

.popUp-disappear{
    /* display: none; */
    animation: fallDown-mobile 500ms forwards; /*keyframe is defined in ModalComp.css*/
}


.popUp-hidden{
    display: none;
}

.popUp-appear{
    display: block;
    animation: riseUp-mobile 500ms forwards; /*keyframe is defined in ModalComp.css*/
}

.VideoPopUp{

}


/* all screens above 768px */
@media screen and (min-width: 768px) {
    .popUpWrapper{
        top: calc(56px + 1rem); /* navbar height + padding*/
    }
    .popUp-appear{
        animation: riseUp-tab 500ms forwards; /*keyframe is defined in ModalComp.css*/
    }
    .popUp-disappear{
        animation: fallDown-tab 500ms forwards; /*keyframe is defined in ModalComp.css*/
    }
}


/* all screens above 1024px */
@media screen and (min-width: 1024px) {
    .popUpWrapper{
        top: 0;
        left: 7rem; /* navbar width(6rem) + 1rem padding */
    }
    .popUp-appear{
        animation: riseUp-desktop 500ms forwards; /*keyframe is defined in ModalComp.css*/
    }

    .popUp-disappear{
        animation: fallDown-desktop 500ms forwards; /*keyframe is defined in ModalComp.css*/
    }
}