
nav{
    background-color: var(--color-semi-dark-blue);
    height: 56px;
    position: fixed;
    z-index: 10;

}

nav img{
    cursor: pointer;
}

.appLogo{
    max-width: 25px;
}
.nav-icon{
    max-height: 16px;
}

.displayPicture{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid white;
    
}
.displayPicture{
}

.ss{
    /* background-color: rebeccapurple; */
}
/* all screens above 768px */
@media screen and (min-width: 768px) {
    nav{
        border-radius: 1rem;
    }
    .appLogo{
        min-width: 32px;
        max-width: 32px;
    }
    .nav-icon{
        max-height: 20px;
    }
    .displayPicture{
        width: 32px;
        height: 32px;
    }
}

/* all screens between 768px - 1024 */
@media screen and (min-width: 768.1px) and (max-width: 1023px) {
    nav{
        width: calc(100vw - 2rem) !important;
    }
}


/* all screens above 1024px */
@media screen and (min-width: 1024px) {
    nav{
        height: calc(100vh - 2rem) !important;
    }
    .displayPicture{
        width: 40px;
        height: 40px;
    }
}