
.ModalComp-wrapper{
    position: fixed;
    top: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: var(--color-dark-blue);
    overflow-y: auto !important;
}
.Modal{
    min-height: calc(100vh - 56px); /*screen height - navbar height*/
    width: 100%;
    color: #ffffff93;
}

.ModalComp-wrapper-up{
    animation: riseUp-mobile 500ms forwards;
}

.ModalComp-wrapper-down{
    animation: fallDown-mobile 500ms forwards;
}

.ModalComp-wrapper-initial{
    top: 100vh;
}

.modalPoster{
    width: 200px;
}
.modalPoster-big{
    display: none;
}

.modalHead{
    padding-left:  1rem;
    padding-right:  1rem;
    background-color: #161d2f5e;
}
.modalHead h3{
    line-height: 100%;
    color: #ffffff;
}
.modalTagline{
}

.backIcon{
    background-color: #FC4747;
    border-radius: 0 0 4px 0;
    top: 56px;
    transform: translateX(-100%);
    opacity: 0;
}

.slideInAnime{
    animation: slide_in_from_top 500ms forwards 1000ms;
}
.slideOutAnime{
    animation: slide_out_to_top 500ms forwards;
}

.backIcon:hover {
    opacity: 1 !important;
}

/* all screens below 768px */
@media screen and (max-width: 768px) {
    .ModalComp-wrapper{
        min-height: calc(100vh - 56px - 16px); /*screen height - navbar height - padding top*/
    }
    .modalHead{
        margin-left: -1rem !important;
        margin-right: -1rem !important;
        padding-left:  1rem;
        padding-right:  1rem;
    }
    .Modal{
        overflow-y: auto !important;
    }
}

/* all screens above 768px */
@media screen and (min-width: 768px) {
    .ModalComp-wrapper{
        min-height: calc(100vh); /*screen height - navbar height - padding top*/
    }
    .ModalComp-wrapper-up{
        animation: riseUp-tab 500ms forwards;
    }
    .ModalComp-wrapper-down{
        animation: fallDown-tab 500ms forwards;
    }
    .modalPoster-small, .modalPoster-small-wrapper{
        display: none;
    }
    .modalPoster-big{
        display: block;
    }
    .modalPoster{
        width: 300px;
    }
    .backIcon{
        border-radius: 0 0 4px 4px;
        left: 2rem;
        top: calc(56px + 1rem);
    }
}

/* all screens above 1024px */
@media screen and (min-width: 1024px) {
    .ModalComp-wrapper{
        left: 7rem; /* navbar width(6rem) + 1rem padding */
    }
    .ModalComp-wrapper-up{
        animation: riseUp-desktop 500ms forwards;
    }

    .ModalComp-wrapper-down{
        animation: fallDown-desktop 500ms forwards;
    }
    .modalPoster{
        width: 350px;
    }
    .backIcon{
        border-radius: 0 4px 4px 0;
        left: auto;
        top: 2rem;
    }
    .slideInAnime{
        animation: slide_in_from_left 500ms forwards 1000ms;
    }
    .slideOutAnime{
        animation: slide_out_to_left 500ms forwards;
    }
}

@keyframes riseUp-mobile {
    from{
        top: 100vh;
    }
    to{
        top: 56px; /* navbar height  */
    }
}

@keyframes fallDown-mobile {
    from{
        top: 56px; /* navbar height  */
    }
    to{
        top: 100vh;
    }
}


@keyframes riseUp-tab {
    from{
        top: 100vh; 
    }
    to{
        top: 72px; /* navbar height + 16px padding */
    }
}

@keyframes fallDown-tab {
    from{
        top: 72px; /* navbar height + 16px padding */
    }
    to{
        top: 100vh;
    }
}


@keyframes riseUp-desktop {
    from{
        top: 100vh; 
    }
    to{
        top: 0;
    }
}

@keyframes fallDown-desktop {
    from{
        top: 0;
    }
    to{
        top: 100vh;
    }
}

@keyframes slide_in_from_left {
    from{
        opacity: 0;
        z-index: 0;
        transform: translateX(-120%);
    }
    to{
        opacity: 0.6;
        z-index: 20;
        transform: translateX(0%);
    }
}

@keyframes slide_out_to_left {
    from{
        opacity: 0.6;
        transform: translateX(0%);
    }
    to{
        opacity: 0;
        z-index: 0;
        transform: translateX(-120%);
    }
}

@keyframes slide_in_from_top {
    from{
        opacity: 0;
        z-index: 0;
        transform: translateY(-120%);
    }
    to{
        opacity: 0.6;
        z-index: 20;
        transform: translateY(0%);
    }
}

@keyframes slide_out_to_top {
    from{
        opacity: 0.6;
        transform: translateY(0%);
    }
    to{
        opacity: 0;
        z-index: 0;
        transform: translateY(-120%);
    }
}
