
.ModalComp-wrapper{
    position: fixed;
    background-color: var(--color-dark-blue);
    top: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
}

.ModalComp-wrapper-up{
    animation: riseUp 500ms forwards;
}

.ModalComp-wrapper-down{
    animation: fallDown 500ms forwards;
}

.ModalComp-wrapper-initial{
    top: 100vh;
}

.modalPoster{
}

@keyframes riseUp {
    from{
        top: 100vh;
    }
    to{
        top: 0;
    }
}

@keyframes fallDown {
    from{
        top: 0;
    }
    to{
        top: 100vh;
    }
}