
#BeyondEarth-large{
    background-image: url(./assets/thumbnails/beyond-earth/trending/large.jpg);
}
#BeyondEarth-medium{
    background-image: url(./assets/thumbnails/beyond-earth/trending/medium.jpg);
}
#BeyondEarth-small{
    background-image: url(./assets/thumbnails/beyond-earth/trending/small.jpg);
}

#BottomGear-large{
    background-image: url(./assets/thumbnails/bottom-gear/trending/large.jpg);
}
#BottomGear-medium{
    background-image: url(./assets/thumbnails/bottom-gear/trending/medium.jpg);
}
#BottomGear-small{
    background-image: url(./assets/thumbnails/bottom-gear/trending/small.jpg);
}

#UndiscoveredCities-large{
    background-image: url(./assets/thumbnails/undiscovered-cities/trending/large.jpg)
}
#UndiscoveredCities-medium{
    background-image: url(./assets/thumbnails/undiscovered-cities/trending/medium.jpg)
}
#UndiscoveredCities-small{
    background-image: url(./assets/thumbnails/undiscovered-cities/trending/small.jpg)
}

#NinteenNightyEight-large{
    background-image: url(./assets/thumbnails/1998/trending/large.jpg);
}
#NinteenNightyEight-medium{
    background-image: url(./assets/thumbnails/1998/trending/medium.jpg);
}
#NinteenNightyEight-small{
    background-image: url(./assets/thumbnails/1998/trending/small.jpg);
}

#DarkSideOfTheMoon-large{
    background-image: url(./assets/thumbnails/dark-side-of-the-moon/trending/large.jpg);
}
#DarkSideOfTheMoon-medium{
    background-image: url(./assets/thumbnails/dark-side-of-the-moon/trending/medium.jpg);
}
#DarkSideOfTheMoon-small{
    background-image: url(./assets/thumbnails/dark-side-of-the-moon/trending/small.jpg);
}

#OneHundredAndTwelve-large{
    background-image: url(./assets/thumbnails/112/regular/large.jpg);
}
#OneHundredAndTwelve-medium{
    background-image: url(./assets/thumbnails/112/regular/medium.jpg);
}
#OneHundredAndTwelve-small{
    background-image: url(./assets/thumbnails/112/regular/small.jpg);
}

#AsiaIn24Days-large{
    background-image: url(./assets/thumbnails/asia-in-24-days/regular/large.jpg);
}
#AsiaIn24Days-medium{
    background-image: url(./assets/thumbnails/asia-in-24-days/regular/medium.jpg);
}
#AsiaIn24Days-small{
    background-image: url(./assets/thumbnails/asia-in-24-days/regular/small.jpg);
}

#AutosportTheSeries-large{
    background-image: url(./assets/thumbnails/autosport-the-series/regular/large.jpg);
}
#AutosportTheSeries-medium{
    background-image: url(./assets/thumbnails/autosport-the-series/regular/medium.jpg);
}
#AutosportTheSeries-small{
    background-image: url(./assets/thumbnails/autosport-the-series/regular/small.jpg);
}

#BelowEcho-large{
    background-image: url(./assets/thumbnails/below-echo/regular/large.jpg);
}
#BelowEcho-medium{
    background-image: url(./assets/thumbnails/below-echo/regular/medium.jpg);
}
#BelowEcho-small{
    background-image: url(./assets/thumbnails/below-echo/regular/small.jpg);
}

#CommunityOfOurs-large{
    background-image: url(./assets/thumbnails/community-of-ours/regular/large.jpg);
}
#CommunityOfOurs-medium{
    background-image: url(./assets/thumbnails/community-of-ours/regular/medium.jpg);
}
#CommunityOfOurs-small{
    background-image: url(./assets/thumbnails/community-of-ours/regular/small.jpg);
}

#Darker-large{
    background-image: url(./assets/thumbnails/darker/regular/large.jpg);
}
#Darker-medium{
    background-image: url(./assets/thumbnails/darker/regular/medium.jpg);
}
#Darker-small{
    background-image: url(./assets/thumbnails/darker/regular/small.jpg);
}

#Dogs-large{
    background-image: url(./assets/thumbnails/dogs/regular/large.jpg);
}
#Dogs-medium{
    background-image: url(./assets/thumbnails/dogs/regular/medium.jpg);
}
#Dogs-small{
    background-image: url(./assets/thumbnails/dogs/regular/small.jpg);
}

#DuringTheHunt-large{
    background-image: url(./assets/thumbnails/during-the-hunt/regular/large.jpg);
}
#DuringTheHunt-medium{
    background-image: url(./assets/thumbnails/during-the-hunt/regular/medium.jpg);
}
#DuringTheHunt-small{
    background-image: url(./assets/thumbnails/during-the-hunt/regular/small.jpg);
}

#EarthsUntouched-large{
    background-image: url(./assets/thumbnails/earths-untouched/regular/large.jpg);
}
#EarthsUntouched-medium{
    background-image: url(./assets/thumbnails/earths-untouched/regular/medium.jpg);
}
#EarthsUntouched-small{
    background-image: url(./assets/thumbnails/earths-untouched/regular/small.jpg);
}

#LoneHeart-large{
    background-image: url(./assets/thumbnails/lone-heart/regular/large.jpg);
}
#LoneHeart-medium{
    background-image: url(./assets/thumbnails/lone-heart/regular/medium.jpg);
}
#LoneHeart-small{
    background-image: url(./assets/thumbnails/lone-heart/regular/small.jpg);
}

#MissionSaturn-large{
    background-image: url(./assets/thumbnails/mission-saturn/regular/large.jpg);
}
#MissionSaturn-medium{
    background-image: url(./assets/thumbnails/mission-saturn/regular/medium.jpg);
}
#MissionSaturn-small{
    background-image: url(./assets/thumbnails/mission-saturn/regular/small.jpg);
}

#NoLandBeyond-large{
    background-image: url(./assets/thumbnails/no-land-beyond/regular/large.jpg);
}
#NoLandBeyond-medium{
    background-image: url(./assets/thumbnails/no-land-beyond/regular/medium.jpg);
}
#NoLandBeyond-small{
    background-image: url(./assets/thumbnails/no-land-beyond/regular/small.jpg);
}

#OffTheTrack-large{
    background-image: url(./assets/thumbnails/off-the-track/regular/large.jpg);
}
#OffTheTrack-medium{
    background-image: url(./assets/thumbnails/off-the-track/regular/medium.jpg);
}
#OffTheTrack-small{
    background-image: url(./assets/thumbnails/off-the-track/regular/small.jpg);
}

#ProductionLine-large{
    background-image: url(./assets/thumbnails/production-line/regular/large.jpg);
}
#ProductionLine-medium{
    background-image: url(./assets/thumbnails/production-line/regular/medium.jpg);
}
#ProductionLine-small{
    background-image: url(./assets/thumbnails/production-line/regular/small.jpg);
}

#Relentless-large{
    background-image: url(./assets/thumbnails/relentless/regular/large.jpg);
}
#Relentless-medium{
    background-image: url(./assets/thumbnails/relentless/regular/medium.jpg);
}
#Relentless-small{
    background-image: url(./assets/thumbnails/relentless/regular/small.jpg);
}

#SameAnswerII-large{
    background-image: url(./assets/thumbnails/same-answer-2/regular/large.jpg);
}
#SameAnswerII-medium{
    background-image: url(./assets/thumbnails/same-answer-2/regular/medium.jpg);
}
#SameAnswerII-small{
    background-image: url(./assets/thumbnails/same-answer-2/regular/small.jpg);
}

#TheDiary-large{
    background-image: url(./assets/thumbnails/the-diary/regular/large.jpg);
}
#TheDiary-medium{
    background-image: url(./assets/thumbnails/the-diary/regular/medium.jpg);
}
#TheDiary-small{
    background-image: url(./assets/thumbnails/the-diary/regular/small.jpg);
}

#TheGreatLands-large{
    background-image: url(./assets/thumbnails/the-great-lands/regular/large.jpg);
}
#TheGreatLands-medium{
    background-image: url(./assets/thumbnails/the-great-lands/regular/medium.jpg);
}
#TheGreatLands-small{
    background-image: url(./assets/thumbnails/the-great-lands/regular/small.jpg);
}

#TheHeiress-large{
    background-image: url(./assets/thumbnails/the-heiress/regular/large.jpg);
}
#TheHeiress-medium{
    background-image: url(./assets/thumbnails/the-heiress/regular/medium.jpg);
}
#TheHeiress-small{
    background-image: url(./assets/thumbnails/the-heiress/regular/small.jpg);
}

#TheRockies-large{
    background-image: url(./assets/thumbnails/the-rockies/regular/large.jpg);
}
#TheRockies-medium{
    background-image: url(./assets/thumbnails/the-rockies/regular/medium.jpg);
}
#TheRockies-small{
    background-image: url(./assets/thumbnails/the-rockies/regular/small.jpg);
}

#TheTastyTour-large{
    background-image: url(./assets/thumbnails/the-tasty-tour/regular/large.jpg);
}
#TheTastyTour-medium{
    background-image: url(./assets/thumbnails/the-tasty-tour/regular/medium.jpg);
}
#TheTastyTour-small{
    background-image: url(./assets/thumbnails/the-tasty-tour/regular/small.jpg);
}

#UnresolvedCases-large{
    background-image: url(./assets/thumbnails/unresolved-cases/regular/large.jpg);
}
#UnresolvedCases-medium{
    background-image: url(./assets/thumbnails/unresolved-cases/regular/medium.jpg);
}
#UnresolvedCases-small{
    background-image: url(./assets/thumbnails/unresolved-cases/regular/small.jpg);
}

#VanLife-large{
    background-image: url(./assets/thumbnails/van-life/regular/large.jpg);
}
#VanLife-medium{
    background-image: url(./assets/thumbnails/van-life/regular/medium.jpg);
}
#VanLife-small{
    background-image: url(./assets/thumbnails/van-life/regular/small.jpg);
}

#WhisperingHill-large{
    background-image: url(./assets/thumbnails/whispering-hill/regular/large.jpg);
}
#WhisperingHill-medium{
    background-image: url(./assets/thumbnails/whispering-hill/regular/medium.jpg);
}
#WhisperingHill-small{
    background-image: url(./assets/thumbnails/whispering-hill/regular/small.jpg);
}


/* all screens above 768px */
@media screen and (min-width: 768px) {
}

/* all screens between 768px - 1024 */
@media screen and (min-width: 768.1px) and (max-width: 1023px) {
}


/* all screens above 1024px */
@media screen and (min-width: 1024px) {
}