
.trendingDiv{
}

.trendCardGrid{
    overflow-x: scroll;
}


/* all screens above 1024px */
@media screen and (min-width: 1024px) {
    .trendingDiv{
        max-width: calc(100vw - 2rem - 96px - 72px); /* total screen width - padding on both sides - navbar width*/
        /* max-width: 500px; */
    }  
    .trendCardGrid{
        width: calc(100% + 7.5rem);
    }  
}